@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
 --very-light-grayish-blue: hsl(240, 78%, 98%);
 --light-grayish-blue: hsl(234, 14%, 74%);
 --grayish-blue: hsl(233, 13%, 49%);
 --dark-grayish-blue: hsl(232, 13%, 33%);
 --gradient: linear-gradient(to right, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
}
body {
    font-family: Montserrat;
    background-image: url(./images/);
    background-color: var(--very-light-grayish-blue);
    position: relative;
    margin: 0;
    background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 30%, 30%;
    background-position: bottom left, top right;
    height: 100vh;
}

header {
    text-align: center;
    padding: 3em 0;
}

header h1 {
    color: var(--grayish-blue);
    margin: 0 0 1em 0;
}

header .modality > * {
    display: inline-block;
    vertical-align: middle;
    color: var(--light-grayish-blue);
}

header .button {
    width: 40px;
    height: 1.5em;
    background-image: linear-gradient(to right, transparent 0%, transparent 25%, hsl(236, 72%, 79%) 25%, hsl(237, 63%, 64%) 75%, transparent 75%, transparent 100%);
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

header .button:active {
    background-image: linear-gradient(to right, transparent 0%, transparent 25%, var(--light-grayish-blue) 25%, var(--light-grayish-blue) 75%, transparent 75%, transparent 100%);
}

header .button::before {
    content: "";
    display: inline-block;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%) 0%,hsl(236, 72%, 79%) 50%, transparent 100%);
    position: absolute;
    left: 0px;
    border-radius: 50%;
}
header .button:active:before {
    background-image: linear-gradient(to right, var(--light-grayish-blue) 0%,var(--light-grayish-blue) 50%, transparent 100%);
}
header .button:active:after {
    background-image: linear-gradient(to left, var(--light-grayish-blue), 0%, var(--light-grayish-blue) 50%, transparent 100%);
}
header .button::after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, hsl(237, 63%, 64%), 0%,hsl(237, 63%, 64%) 50%, transparent 100%);
    position: absolute;
    right: 0px;
    border-radius: 50%;
}
header .button__circle {
    width: 1.5rem;
    height: 90%;
    background-color: white;
    z-index: 10;
    border-radius: 50%;
    position: absolute;
    right: 2px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
main > div {
    width: 30%;
    min-width: 150px;
    max-width: 300px;
    margin-bottom: 1em;
}
table {
    text-align: center;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    width: 100%;
    color: var(--grayish-blue);
    padding: 0 20px;
    background-color: white;
}
div:first-child table {
    border-radius: .7em 0 0 .7em ;
}
div:nth-child(2) table {
    border-radius: .7em;
}
div:last-child table {
    border-radius: 0 .7em .7em 0 ;
}
table tr:nth-of-type(2) td::before {
    content: "$";
    font-size: .7em;
    vertical-align: middle;
}
table td, table th {
    padding: 1em 0;
}
table tr:not(tr:last-child) td {
    border-bottom: 1px solid var(--light-grayish-blue);
}

div table tr:nth-of-type(2) td {
    font-size: 3em;
    padding: 0.5em 0;
}
div:not(div:nth-child(2)) table tr:nth-of-type(2) td {
    color:var(--dark-grayish-blue);
}

div:nth-of-type(2) table {
    background-image: var(--gradient);
    color: white;
}

div:nth-of-type(2) table th{
    padding-top: 3em;
}
div:nth-of-type(2) table tr:last-child td{
    padding-bottom: 3em;
}
main div button {
    width: 80%;
    padding: 10px 0;
    border-radius: .5em;
    border: 1px solid transparent;
    font-weight: bold;
    background-image: var(--gradient);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
main div button:active {
    border-radius: 10px;
    background-image: none;
    background-color: white;
    border:1px solid var(--grayish-blue);
    color: hsl(237, 63%, 64%);
}
main div:nth-of-type(2) button {
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
}
main div:nth-of-type(2) button:active {
    background-image:var(--gradient);
    color: white;
    border: 1px solid white;
}
main {
    background-color: transparent;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:750px) {
    body {
    background-size: 50%, 50%;
    height: auto;
    }
    main > div {
        width: 100%;
    }
    main div table,
    main div:first-child table,
    main div:last-child table {
        border-radius: 0.7em;
        margin-bottom: 1.5em;
    }
    main {
        flex-direction: column;
    }
}